html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
}

h1 {
  font-size: 48pt;
  margin: 10px 25px;
}

.light {
  color: #999;
}

.dark {
  color: #444;
}

.canvas {
    background-color: #eee;
    float: left;
    width: 80%;
    margin: 0;
}

.sidebar {
    float: right;
    width: 20%;
    height: 100%;
    overflow: scroll;
}

.info {
    margin: 10px 25px;
}

.info img {
    display: block;
    width: 100%;
}

.bar.positive {
  fill: steelblue;
}

.bar.negative {
  fill: brown;
}

.axis text {
  font: 10px sans-serif;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
